{% block flashcard_hidden_row %}
    <div class="back-wrapper">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock flashcard_hidden_row %}
