{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <section class="login-section">
        <div class="container flow">
            <form action="{{ path('app_login') }}" method="POST" class="flow">
                <div class="flow">
                    <label for="email">Sign in</label>
                    <input id="email" type="email" name="email">
                </div>
                <button class="button" type="submit">Send Login Link</button>
            </form>
        
            <a href="{{ path('app_register') }}">Create an account</a>
        </div>
    </section>






{% endblock %}
