{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<fieldset>
    <legend>Sign in</legend>
    <form action="{{ path('app_login') }}" method="POST">
        <input type="email" name="email">
        <button type="submit">Send Login Link</button>
    </form>
</fieldset>


{% endblock %}
