<footer class="text-center">
    <div class="container">
        <p>
            All exmple sentences are coming from awesome <a target="_blank" href="https://tatoeba.org">Tatoeba.org</a>
            released under CC-BY License.
        </p>
    </div>
</footer>