<footer class="text-center">
    <div class="container flow">
        <p>
            All exmple sentences are coming from awesome <a target="_blank" href="https://tatoeba.org">Tatoeba.org</a>
            released under CC-BY License.
        </p>
        <img class="mx-auto" src="{{ asset("images/logo/PoweredBy_200px-Black_HorizLogo.png") }}" alt="Giphy logo">
    </div>
</footer>