<nav>
    <div class="container">
        <ul class="split">
            <li><a href="{{ path('app_deck_create') }}">Create Deck</a></li>
            <li><a href="{{ path('app_deck') }}">Show decks</a></li>
            <li><a href="{{path('app_logout')}}">Logout</a></li>
        </ul>
    </div>
</nav>