<p class="unsplash-attribution bg-glass">
    Photo by 
    <a target='_blank'
        href="{{ authorProfileUrl }}?utm_source=immersive-flashcards.tech&utm_medium=referral"> 
    {{ authorName }}
    </a> 
    on 
    <a target='_blank' href="https://unsplash.com/?utm_source=immersive-flashcards.tech&utm_medium=referral"> 
      Unsplash
    </a>
</p>