:root {
    --ff-sans: sans-serif;
    --ff-serif: serif;

    --fs-8: 0.5rem;
    --fs-12: 0.75rem;
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-22: 1.1.25rem;
    --fs-24: 1.5rem;
    --fs-28: 1.75rem;
    --fs-32: 2rem;
    --fs-36: 2rem;

    --spacing-8: 0.5rem;
    --spacing-16: 1rem;
    --spacing-24: 1.5rem;
    --spacing-32: 2rem;
    --spacing-40: 2.5rem;
    --spacing-48: 3rem;
    --spacing-56: 3.5rem;
    --spacing-64: 4rem;
    --spacing-130: 8.125rem;

    --fw-400: 400;
    --fw-700: 700;

    --borr-circle: 100vh;
    --borr: 0.5rem;

    --box-shadow-primary:0 8px 4px #0000001f;
    --box-shadow-secondary: 0 0 2px #0000003d;

    /* hsl */
    --clr-primary-400: orangered;
    --clr-secondary-400: white;
    --clr-neutral-100: #fff;


    --clr-overlay: rgba(0,0,0,0.87);


}

/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
} 

a {
  color: currentColor;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }

}

img,
picture {
  max-width: 100%;
  display: block;
}


input,
button,
textarea,
select {
  font: inherit;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.1;
    text-wrap: balance;

}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}


@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

body {
  text-rendering: optimizeSpeed;
}

/* utils */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.text-center {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.fw-700 {
  font-weight: var(--fw-700);
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.split {
  display: flex;
  gap: var(--split-space, 1rem);
}

.container {
  max-width: min(calc(100% - 2rem), 996px);
  margin-inline: auto;
}

.padding-block {
  padding-block: 4rem;
}

/* base */
a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}


/* nav */
nav {
  --split-space: 1.25rem;
  background-color: purple;
  padding: 2rem 4rem;


  li:last-of-type {
    margin-left: auto;
  }
  
}


/* deck create */
.selection-grid {
    display: flex;

    .img {
      display: block;
      max-width: 100;
      object-fit: fill; 
      height: 100px; 
  }

    & > * {
      flex: 0 1 100px;
    }
}

.image-field {
    position: relative;
    isolation: isolate;
 
    &:has(input[type='radio']:checked) {
        outline: 2px solid red;
        z-index: 10;
        scale: 1.25;
    } 

    &:hover {
      scale: 1.25;
      z-index: 10;
    }
}

.img-radio-btn {
    position: absolute;
    z-index: -1;
    inset-block-start: 0;
    inset-block-end: 0;
}


/* deck creation */

form[name='deck'] {


  .preview-flashcard-image {
    width: 50px; 
    height: 50px;
  }

  .split {
    align-items: center;
  }
}





/* flashcard details */

.flashcard-details {
  .flashcard {
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid black;

    &.correct {
      border-left: 8px solid green;
    }

    &.incorrect {
      border-left: 8px solid red;
    }

    &.unanswered {
      border-left: 8px solid gray;
    }

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-left: 1px solid black;
    }
  
    & > * {
      flex: 1;
    }
  }
  
}


/* flashcard practice */
.practice-flashcards-slider {
  position: relative;
  margin-inline: auto;
  display: flex;
  max-width: 350px;
  overflow-x: hidden;

  & > * {
    flex: 0 0 350px;
  }

}

.slider-btn {
  position: absolute;
  inset-block-start: 50%;

  &.hidden {
     display: none;    
  }

  &.left {
    inset-inline-start: 0;
    translate: -50% -100%;
  }

  &.right {
    inset-inline-end: 0;
    translate: 50% -100%;
  }
}

.practice-flashcard-container {
  isolation: isolate;
  height: 450px;
  width: 350px;
  transform: translateX(calc(-100% * var(--counter, 0)));
  transition: transform 0.3s ease-in-out;

  .split {
    position: absolute;
  }

}

.practice-flashcard {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  transform: rotateY(0deg);

  .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
  
    text-align: center;
    align-content: center;
  }

  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    align-content: center;
    transform: rotateY(180deg);
  
  }


  .score-buttons {
    opacity: 0;
    transition: opacity 0.3 ease 0.8s;
    bottom: 2rem;
  }

  &.rotated {
    transform: rotateY(180deg);

    .score-buttons {
      opacity: 1;
      display: block;
      transform: rotateY(180deg);
    }
  }


  &.inversed {
      transform: rotateY(0deg);

      .front {
          transform: rotateY(180deg);
      }

      .back {
        transform: rotateY(0deg);
      }

      &.rotated {
        transform: rotateY(180deg);
      }  
  }

}


.rotate-btn {
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
}


