:root {
    --ff-sans: sans-serif;
    --ff-serif: serif;

    --fs-8: 0.5rem;
    --fs-12: 0.75rem;
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-22: 1.1.25rem;
    --fs-24: 1.5rem;
    --fs-28: 1.75rem;
    --fs-32: 2rem;
    --fs-36: 2rem;

    --spacing-8: 0.5rem;
    --spacing-16: 1rem;
    --spacing-24: 1.5rem;
    --spacing-32: 2rem;
    --spacing-40: 2.5rem;
    --spacing-48: 3rem;
    --spacing-56: 3.5rem;
    --spacing-64: 4rem;
    --spacing-130: 8.125rem;

    --fw-400: 400;
    --fw-700: 700;

    --borr-circle: 100vh;
    --borr: 0.5rem;

    --box-shadow-primary:0 8px 4px #0000001f;
    --box-shadow-secondary: 0 0 2px #0000003d;

    /* hsl */
    --clr-primary-400: orangered;
    --clr-secondary-400: white;
    --clr-neutral-100: #fff;


    --clr-overlay: rgba(0,0,0,0.87);


}

/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
} 

a {
  color: currentColor;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }

}

img,
picture {
  max-width: 100%;
  display: block;
}


input,
button,
textarea,
select {
  font: inherit;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.1;
    text-wrap: balance;

}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}


@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

body {
  text-rendering: optimizeSpeed;
}

/* utils */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.fw-700 {
  font-weight: var(--fw-700);
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.split {
  display: flex;
  gap: var(--split-space, 1rem);
}

.container {
  max-width: min(calc(100% - 2rem), 996px);
  margin-inline: auto;
  
}

.padding-block {
  padding-block: 4rem;
}

/* base */
a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}


/* nav */
nav {
  --split-space: 1.25rem;
  background-color: purple;
  padding: 2rem 4rem;


  li:last-of-type {
    margin-left: auto;
  }
  
}


/* deck create */
.selection-grid {
    display: flex;

    .img {
      display: block;
      max-width: 100;
      object-fit: fill; 
      height: 100px; 
  }

    & > * {
      flex: 0 1 100px;
    }
}

.image-field {
    position: relative;
    isolation: isolate;
 
    &:has(input[type='radio']:checked) {
        outline: 2px solid red;
        z-index: 10;
        scale: 1.25;
    } 

    &:hover {
      scale: 1.25;
      z-index: 10;
    }
}

.img-radio-btn {
    position: absolute;
    z-index: -1;
    inset-block-start: 0;
    inset-block-end: 0;
}


/* deck creation */
form[name='deck'] {
  .preview-flashcard-image {
    width: 50px; 
    height: 50px;
  }

  .split {
    align-items: center;
  }
}




/* flashcard details */
.flashcard-details {
  .flashcard {
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid black;

    &.correct {
      border-left: 8px solid green;
    }

    &.incorrect {
      border-left: 8px solid red;
    }

    &.unanswered {
      border-left: 8px solid gray;
    }

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-left: 1px solid black;
    }
  
    & > * {
      flex: 1;
    }
  }
  
}


/* flashcard practice */
.practice-flashcards-slider {
  position: relative;
  margin-inline: auto;
  display: flex;
  max-width: 350px;
  overflow-x: hidden;


  & > * {
    flex: 0 0 350px;
  }

}


.slider-btn {
  position: absolute;
  inset-block-start: 50%;

  &.hidden {
     display: none;    
  }

  &.left {
    inset-inline-start: 0;
    translate: -50% -100%;
  }

  &.right {
    inset-inline-end: 0;
    translate: 50% -100%;
  }
}

.practice-flashcard-container {
  height: 450px;
  width: 350px;
  translate: calc(-100% * var(--counter, 0));
  padding: 1rem;

  transition: translate 0.4s ease-in-out var(--delay, 0.8s);


  .split {
    position: absolute;
  }

}

.scored {
  --border-thickness: 0.75rem;
  --border-color: var(--color-accent, hotpink);
  position: relative;
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #222;
  cursor: pointer;



  &::before {
    content: '';
    position: absolute;
    width: calc(100% + var(--border-thickness));  
    height: calc(100% + var(--border-thickness));

    inset-block-start: calc(-1 * var(--border-thickness) / 2);
    inset-inline-start: calc(-1 * var(--border-thickness) / 2);

    background: 
      linear-gradient(to right, var(--border-color) 0%, var(--border-color) 100%), 
      linear-gradient(to top, var(--border-color) 50%, transparent 50%), 
      linear-gradient(to top, var(--border-color) 50%, transparent 50%), 
      linear-gradient(to right, var(--border-color) 0%, var(--border-color) 100%), 
      linear-gradient(to left, var(--border-color) 0%, var(--border-color) 100%);
    background-size: 
      100%  calc(var(--border-thickness) / 2),  /* bottom */
      calc(var(--border-thickness) / 2) 200%,  /* left */
      calc(var(--border-thickness) / 2) 200%,  /* right */
      0% calc(var(--border-thickness) / 2),    /* top-right */
      0% calc(var(--border-thickness) / 2);    /* top-left */
    background-position: 
      50% 100%,  /* bottom */
      0% 0%,     /* left */
      100% 0%,   /* right */
      100% 0%,   /* top-right */
      0% 0%;     /* top-left */
    background-repeat: no-repeat;
    transition: 
      transform 0.3s ease-in-out,
      background-position 0.3s ease-in-out,
      background-size 0.3s ease-in-out;
    transform: scaleX(0);
    transition-delay: 0.6s, 0.3s, 0s;
  }

  /* &::before { */
  &.active::before {
    background-size: 
    200% calc(var(--border-thickness) / 2),   /* bottom */
    calc(var(--border-thickness) / 2) 400%,   /* left */
    calc(var(--border-thickness) / 2) 400%,   /* right */
    55% calc(var(--border-thickness) / 2),    /* top-right */
    55% calc(var(--border-thickness) / 2);    /* top-left */
  background-position: 
    50% 100%,   /* bottom */
    0% 100%,    /* left */
    100% 100%,  /* right */
    100% 0%,    /* top-right */
    0% 0%;      /* top-left */
  transform: scaleX(1);
  transition-delay: 0s, 0.3s, 0.6s;
  }

  &.correct,
  &.incorrect {
    pointer-events: none;
  }

  &.correct {
    --border-color: var(--color-success, green);

  }

  &.incorrect {
    --border-color: var(--color-danger, red);
  }

}

.practice-flashcard {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  transform: rotateY(0deg);
  

  .front,
  .back {
    overflow: hidden;
    position: absolute;
    text-align: center;
    align-content: center;
    background: #fafafa;
    color: #333;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .back {
    transform: rotateY(180deg);
  
  }


  .score-buttons {
    opacity: 0;
    transition: opacity 0.3 ease 0.8s;
    bottom: 2rem;
  }

  &.rotated {
    transform: rotateY(180deg);

    .score-buttons {
      opacity: 1;
      display: block;
      transform: rotateY(180deg);
    }
  }


  &.inversed {
      transform: rotateY(0deg);

      .front {
          transform: rotateY(180deg);
      }

      .back {
        transform: rotateY(0deg);
      }

      &.rotated {
        transform: rotateY(180deg);
      }  
  }

}


.rotate-btn {
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
}



