{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'),
source('@styles/email.css')) %}
<container>
  <row>
    <columns>
      <spacer size="30"></spacer>
      <center>
        <center>
          <h1 class="magic-link-title">Magic Link Sign In</h1>
        </center>
        <p class="magic-link-content">{{ content }}</p>
        <center>
          <a
            target="_blank"
            href="{{ action_url }}"
            class="large magic-link-button"
          >
            {{ action_text }}
          </a>
        </center>
      </center>
      <spacer size="30"></spacer>
    </columns>
  </row>
</container>
{% endapply %}
