{% extends 'base.html.twig' %}

{% block title %}Deck details{% endblock %}

{% block body %}


   
    <div class="flashcards-container | flow">
        <h1>Deck name: {{deck.name}}</h1>
        {% for flashcard in flashcards %}
            <div class="flashcard">
                <h1>{{ flashcard.front }}</h1>
                <img src="{{ flashcard.back }}" alt="{{ flashcard.front }}">
            </div>
        {% endfor %}
    </div>



    <a href="">add gif card</a>

{% endblock %}