{% extends 'base.html.twig' %}

{% block title %}Deck details{% endblock %}

{% block body %}


    <h1>Deck name: {{deck.name}}</h1>

    {% for flashcard in flashcards %}
            <h1>{{ flashcard.front }}</h1>
            <img src="{{ flashcard.back }}" alt="{{ flashcard.front }}">

    {% endfor %}


    <a href="">add gif card</a>

{% endblock %}