{% extends 'base.html.twig' %}

{% block title %}Decks!{% endblock %}

{% set q = app.request.query.get('q', '') %}

{% block body %}
    <section class="decks">
        <div class="container flow">
            <search>
                <form method="GET">
                    <input 
                        type="search" 
                        name="q" 
                        placeholder="Search decks..." 
                        value="{{ q }}"
                        aria-label="Search decks"
                    >
                    <button type="submit">Search</button>
                </form>
            </search>
            {{ component('DecksColumn', {searchTerm: q, user: app.user}) }}
        </div>
    </section>
{% endblock %}
