{% extends 'base.html.twig' %}

{% block title %}Hello FlashcardController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    

    {% for image in images %}
        <img src="{{ image.url }}" alt="{{ image.alt }}">
    {% endfor %}


    {% for gif in gifs %}
        <div class="image-container">
            <img src="{{ gif.url }}" alt="{{ gif.alt }}">
        </div>
    {% endfor %}



</div>
{% endblock %}
